<% unless @page.images.blank? %>
  <% content_for :images do %>
    <div id="slider">
      <!-- start slideshow -->
      <div id="slideshow">
        <% @page.images.each_with_index do |image, index| %>
          <div class="slide-image">
            <%= image_tag(image.thumbnail(geometry: "960x400#c").url) %>
            <div class='slide-caption'>
              <%=raw @page.caption_for_image_index(index) %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- end #slideshow -->
      <div class="controls-outer">
        <div id="slide_controls">
          <ul id="slider_nav">
            <% @page.images.each do |image| %>
              <li><a href="#"></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
    <!--/slider -->
    <div class="slide-separator"></div>
  <% end %>
<% end %>

<div id=home>
  <%= render '/refinery/content_page' %>
</div>
