<%= render '/refinery/images' %>

<div id='left_nav'>
  <%= render :partial => 'sitemaps/page', locals: {:page_children => get_root_page(@page)} %>
</div>

<div id='non-home-page'>
  <%= render '/refinery/content_page' %>
</div>

