<div id="header">
  <div id="header_top">
    <div id="locale">
      <span><a href="/zh-TW">中文</a></span>
      <span><a href="/en">English</a></span>
    </div>
    <div id="logo">
      <%= link_to image_tag("logo.png"), '/' %>
    </div>
    <h1>
      <%= link_to t('sitename'), '/' %>
    </h1>
  </div>

  <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
</div>
