/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 *= require_tree .
 */

body {
  background:#E7E7E7;
  margin:0;
  padding:0;
  font-family: Tahoma,Geneva,sans-serif;
  font-size: 15px;
  color: #444;
}

* {
  margin:0;
  padding:0;
}

p {
  line-height: 1.5em;
  margin-bottom: 20px;
}


a:hover {
  color: #f9692a;
}

a:focus {
  outline: none;
}

h1 {
  color: #36CBDF;
  font-weight: normal;
  font-size: 25px;
}

h2 {
  color: #36CBDF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: normal;
  padding: 0 0 5px;
  margin: 0;
}

h3 {
  color: #36CBDF;
  font-size: 17px;
  font-weight: normal;
  margin-bottom: 10px;
}

h4 {
  padding-bottom: 10px;
  font-size: 15px;
  color: #999;
}

h5 {
  padding-bottom: 10px;
  font-size: 13px;
  color: #999;
}

#page_container {
  width: 960px;
  margin:0 auto;
  padding: 0;
  background: #fff;

}

#container-inner {
  width: 920px;
  margin:0 auto;
  padding: 0;
  background: #fff;
}

#page {
  clear: both;
}


/*----------- Header -----------------*/
#header {
  padding: 0;
  margin: 0 auto;
}

#header h1 {
  padding: 20px 0px;
}

#header h1 a {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #90DA11;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
}

#header p {
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-left: 12px;
  margin-top: 0px;
  padding-left: 8px;
  line-height:12px;
}

#header_top {
  height: 80px;
}

#logo {
  float: left;
  padding: 5px 10px 0px 0px;
}

#locale {
  float: right;
  padding: 20px 10px 0px 0px;
}

#locale span{
  padding-left: 10px;
}

/*----------- Navigation -----------------*/
#menu {
  height: 40px;
  width: 920px;
  background-color:#3B7A24;
}

#menu ul {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  height: 40px;
}

#menu ul li {
  float: left;
  display: block;
  padding:0;
}

#menu ul li a {
  color: #fff;
  display: block;
  font-size: 14px;
  padding: 12px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#menu ul li a:hover {
  background: #45d836;
  color: #fff;
}

#menu ul li.selected {
  background: #f9692a;
}

#menu li ul {
  display: none;
  background-color: #000;
}

#menu li:hover ul, #menu li.hover ul {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
}

#menu li:hover li, #menu li.hover li {
  float: none;
}

#menu li:hover li a, #menu li.hover li a {
  background-color: #000;
  color: #fff;
}

#menu li li a:hover, #menu li a:hover {
  background-color: #000;
}


/*----------- Footer -----------------*/

#footer {
  background-color: #E7E7E7;
  margin: 0 auto;
  padding: 10px 0 30px;
  width:960px;
}

#footer p {
  color: #999;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  display: block;
  padding: 0px 50px;
  width: 860px;
}

#footer p a {
  color: #999;
}

#footer p .address {
  display: block;
  float: right;
}


.place_holder {
  clear: both;
  height: 0px;
}

#body {
  float: left;
  width: 639px;
  border-right: 1px solid #D6D6D6;
  margin: 20px 0px;
}
#side_body {
  float: right;
  width: 275px;
  margin: 20px 0px;
}
#body .inner {
  padding: 0px 20px;
}
#side_body .inner {
  padding-left: 20px;
}

#body_content_title {
  clear: both;
  padding: 10px;
}

#one_body .inner, #onebody .inner {
  padding: 20px 0px;
}

#main_images {
  margin-top: 0px;
}

.text-align-right {
  text-align: right;
}

.float_left {
  float: left;
  display: block;
  margin: 0px 10px 10px 0px;
}

.float_right {
  float: right;
  display: block;
  margin: 0px 0px 10px 10px;
}

.text-align-center {
  text-align: center;
}

/**  Table data **/
table {
  border-collapse: collapse;
  width: 600px;
  border: 1px solid #DCE4FF;
  border-top: none;
}

th {
  background-color: #2b8ca0;
  font-weight: bold;
  color: #E6EFF2;
}

th, td {
  border-left: 1px solid #ffffff;
  text-align: center;
  padding: 5px;
}

th:first-child, td:first-child {
  border-left: 1px solid #DCE4FF;
}

tr.even_row td {
  background-color: #DCE4FF;
}

