#side_body, #side_body2
  margin: 10px
  width: 225px
  float: right

#body, #body2
  margin: 10px
  float: right
  width: 500px

#side_body2
  clear: right

section h1, #side_body, #side_body2
  padding-top: 40px
  background-image: image-url('section_separator.png')
  background-repeat: repeat-x
  background-position: 0px 0px
  margin-bottom: 15px

#home
  #body, #body2
    width: 650px
    clear: left
    float: left

#non-home-page
  #one_column
    margin-left: 205px

#left_nav
  float: left
  width: 190px
  margin-top: 10px

  ul
    list-style: none
    padding: 0 10px
    margin: 0

    li
      padding: 5px

      a
        color: #000
        display: block
        font-size: 14px
        text-decoration: none

        &:hover
          color: #f9692a

      &.selected
        >a
          color: #f9692a

