#side_body, #side_body2
  margin: 10px
  width: 225px
  float: right

#body, #body2
  margin: 10px
  float: right
  width: 650px

#side_body2
  clear: right

section h1, #side_body, #side_body2
  padding-top: 40px
  background-image: image-url('section_separator.png')
  background-repeat: repeat-x
  background-position: 0px 0px
  margin-bottom: 15px

#home
  #body, #body2
    width: 650px
    clear: left
    float: left


